<%- include('partials/header'); %>
<main>
  <h1>Bookings</h1>
  <section class="organizations">
    <% bookings.forEach(function(booking) { %>
    <a class="organization" href="/organization/info/<%-organization.id%>">
      <img src="<%-booking.organization.images[0]%>" alt="" />
      <div>
        <h2><%-booking.organization.name %></h2>
        <h3><%-booking.date1 %></h3>
        <% if(booking.date2) %> -
        <h3><%-booking.date %></h3>
      </div>
    </a>
    <% }) %>
  </section>
</main>
<%- include('partials/footer'); %>
