<%- include('partials/header'); %>
<main>
	<%- include('partials/messages'); %>
	<% if(user){ %> <% if(user.bookings.length){ %>
	<h1>Recomendations for You</h1>
	<section class="organizations">
		<% recommendations.some( function(recomendation, index) { %>
		<a class="organization" href="/organizations/info/<%- recomendation.id%>">
			<img src="<%- recomendation.images[0] %>" alt="" />
			<div>
				<h2><%- recomendation.name %></h2>
				<h3><%- recomendation.city %></h3>
				<% if (recomendation.overall_average_rating) { %>
					<h4><%- recomendation.overall_average_rating %> ★</h4>
				<% } %>
			</div>
		</a>
		<% return index === 3 %> <% }) %>
	</section>
	<% } %> <% } %>
	<h1>Explore</h1>
	<section class="organizations">
		<% organizations.forEach(function(organization) { %>
		<a class="organization" href="/organizations/info/<%- organization.id%>">
			<img src="<%-organization.images[0]%>" alt="" />
			<div>
				<h2><%- organization.name %></h2>
				<h3><%- organization.city %></h3>
				<% if(organization.overall_average_rating){ %>
					<h3><%- organization.overall_average_rating %>★</h3>
				<% } %>
			</div>
		</a>
		<% }) %>
	</section>
</main>
<%- include('partials/footer'); %>
